<div>
  <div *ngIf="!submitted">
    <div>
      <h4>Dodavanje novog reciklažnog dvorišta</h4>
    </div>
    <div class="form-group">
      <label for="name">Ime</label>
      <input type="text" name="name" id="name" placeholder="Unesite ime" class="form-control" [(ngModel)]="yard.name" required />
    </div>
    <div class="form-group">
      <label for="address">Adresa</label>
      <input type="text" name="address" id="address" placeholder="Unesite adresu" class="form-control" [(ngModel)]="yard.address" required/>
    </div>
    <div class="form-group">
      <label for="phone">Telefon</label>
      <input type="tel" name="phone" id="phone" placeholder="Unesite broj telefona" class="form-control" [(ngModel)]="yard.phone" required/>
    </div>
    <div class="form-group">
      <label for="website">Web-mjesto</label>
      <input type="url" name="website" id="website" placeholder="Unesite web-mjesto" class="form-control" [(ngModel)]="yard.website" required/>
    </div>
    <div>
      <button class="btn btn-success" (click)="saveYard()" >Spremi</button>
    </div>
  </div>
      
  <!-- <div *ngIf="submitted">
    <p>Dvorište je uspješno dodano!</p>
    <button class="btn btn-success" (click)="newYard()">Dodaj novo</button>
  </div> -->
</div>