<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">♲ iRec</a>
    <!-- <div class="navbar-nav mr-auto"> -->
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Početna</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="wasteItems" >Kako razvrstavati?</a>
      </li>
      <li class="nav-item" *ngIf="showRecyclerContent">
        <a class="nav-link" routerLink="yards">Dvorišta</a>
      </li>
      <li class="nav-item" *ngIf="showRecyclerContent">
        <a class="nav-link" routerLink="recyclings">Recikliranja</a>
      </li>
      <li class="nav-item" *ngIf="showRecyclerContent">
        <a class="nav-link" routerLink="users">Korisnici</a>
      </li>
      <!-- <li class="nav-item" *ngIf="showConsumerContent">
        <a class="nav-link" routerLink="userRecyclings">Moja recikliranja</a>
      </li> -->
      <!-- <li class="nav-item" *ngIf="showConsumerContent">
        <a class="nav-link" routerLink="consumer">Consumer</a>
      </li>
      <li class="nav-item" *ngIf="showRecyclerContent">
        <a class="nav-link" routerLink="recycler">Recycler</a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Prijava</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">{{ email }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">(odjava)</a>
      </li>
    <!-- </div> -->
    </ul>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>