<div>
    <div *ngIf="currentRecycling.id">
        <div>
            <h4>Uređivanje podataka o recikliranju {{currentRecycling.id}}</h4>
        </div>
        <div class="form-group">
            <label for="yardId">Oznaka dvorišta</label>
            <input type="text" name="yardId" id="yardId" placeholder="Unesite oznaku dvorišta" class="form-control" [(ngModel)]="currentRecycling.yardId" required />
          </div>
          <div class="form-group">
            <label for="userId">Oznaka korisnika</label>
            <input type="text" name="userId" id="userId" placeholder="Unesite oznaku korisnika" class="form-control" [(ngModel)]="currentRecycling.userId" required/>
          </div>
          <div class="form-group">
            <label for="solvents">Količina otapala (u kilogramima)</label>
            <input type="text" name="userId" id="userId" placeholder="Unesite količinu otapala" class="form-control" [(ngModel)]="currentRecycling.solvents" required/>
          </div>
          <div class="form-group">
            <label for="acids">Količina kiselina (u kilogramima)</label>
            <input type="text" name="acids" id="acids" placeholder="Unesite količinu kiselina" class="form-control" [(ngModel)]="currentRecycling.acids" required/>
          </div>
          <div class="form-group">
            <label for="pesticides">Količina pesticida (u kilogramima)</label>
            <input type="text" name="pesticides" id="pesticides" placeholder="Unesite količinu pesticida" class="form-control" [(ngModel)]="currentRecycling.pesticides" required/>
          </div>
          <div class="form-group">
            <label for="metals">Količina metala (u kilogramima)</label>
            <input type="text" name="metals" id="metals" placeholder="Unesite količinu metala" class="form-control" [(ngModel)]="currentRecycling.metals" required/>
          </div>
          <div class="form-group">
            <label for="paper">Količina papira (u kilogramima)</label>
            <input type="text" name="paper" id="paper" placeholder="Unesite količinu papira" class="form-control" [(ngModel)]="currentRecycling.paper" required/>
          </div>
          <div class="form-group">
            <label for="textile">Količina tekstila (u kilogramima)</label>
            <input type="text" name="textile" id="textile" placeholder="Unesite količinu tekstila" class="form-control" [(ngModel)]="currentRecycling.textile" required/>
          </div>
          <div class="form-group">
            <label for="batteries">Količina baterija (u kilogramima)</label>
            <input type="text" name="batteries" id="batteries" placeholder="Unesite količinu baterija" class="form-control" [(ngModel)]="currentRecycling.batteries" required/>
          </div>
          <div class="form-group">
            <label for="tires">Količina guma (u kilogramima)</label>
            <input type="text" name="tires" id="tires" placeholder="Unesite količinu guma" class="form-control" [(ngModel)]="currentRecycling.tires" required/>
          </div>
          <div class="form-group">
            <label for="glass">Količina stakla (u kilogramima)</label>
            <input type="text" name="glass" id="glass" placeholder="Unesite količinu stakla" class="form-control" [(ngModel)]="currentRecycling.glass" required/>
          </div>
          <div class="form-group">
            <label for="plastic">Količina plastike (u kilogramima)</label>
            <input type="text" name="plastic" id="plastic" placeholder="Unesite količinu plastike" class="form-control" [(ngModel)]="currentRecycling.plastic" required/>
          </div>
        <div>
            <button class="btn btn-success" (click)="updateRecycling()" >Spremi</button>
            <!-- <p>{{ message }}</p> -->
        </div>
    </div>

    <!-- <div *ngIf="!currentRecycling.id">
        <p>Pristup recikliranju nije moguć!</p>
    </div> -->
</div>